.ol-ext-dialog.layerGeoImage form {
  width: 33em;
}

.ol-ext-dialog.layerGeoImage .ol-content ul {
  list-style: none;
  padding: 0;
  margin: -.5em 0 .5em;
}
.ol-ext-dialog.layerGeoImage .ol-content li {
  margin: .5em 0;
}
.ol-ext-dialog.layerGeoImage .ol-content label {
  display: block;
  margin: 0.7em 0 .5em;
}
.ol-ext-dialog.layerGeoImage .ol-content input[type="text"] {
  width: 100%;
}
.ol-ext-dialog.layerGeoImage .ol-content li.center > div {
  width: 50%;
  float: left;
  min-width: 15em;
}
.ol-ext-dialog.layerGeoImage .ol-content li.center > div input {
  width: calc(100% - .5em);
}

.ol-ext-dialog.layerGeoImage .ol-content li.center > div:last-child {
  clear: both;
  float: unset;
  width: auto;
  display: block;
  text-align: right;
  padding-top: .5em;
}

.ol-ext-dialog.layerGeoImage select {
  display: block;
}

.ol-ext-dialog.layerGeoImage.dlgerror .error {
  display: block;
}
.ol-ext-dialog.layerGeoImage .ol-content .error {
  display: none;
  border: 0;
}
.ol-ext-dialog.layerGeoImage.dlgerror .ol-content .error {
  display: block;
}

.ol-ext-dialog.layerGeoImage .mc-input-media {
  width: 100%;
}
.ol-ext-dialog.layerGeoImage .mc-input-media > * {
  display: inline-block;
  vertical-align: middle;
}
.ol-ext-dialog.layerGeoImage .mc-input-media > input {
  max-width: calc(100% - 6.5em);
  margin: 0 .5em;
}
.ol-ext-dialog.layerGeoImage .mc-input-media .mc-img {
  width: 3em;
  height: 2.5em;
  display: inline-block;
}