.tab.locate .fi-info {
  left: 2em;
  font-size: .5em;
  vertical-align: top;
  margin: .5em 0 0 .8em;
}
.tab.locate form.search {
  position: relative;
  z-index: 99;
}
.tab.locate form.search ul {
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  border-color: #bbb;
  border: 0;
}

.tab.locate .ol-search {
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}
.tab.locate .ol-search:before {
  top: 3em;
}

.tab.locate .ol-search:after {
  position: absolute;
  content:"\e914";
  font-family: font-ign;
  font-size: 1.5em;
  top: .35em;
  left: .58em;
  color:#dde1e6;
}

.tab.locate input[type="search"] {
  font-style: normal;
  height: 39px;
  font-size: 1.1em;
  padding: 1em 1em 1em 2.4em;
  width: 100%;
}

.tab.locate ul.autocomplete {
  left: .18em;
  border: 1px solid rgb(98, 96, 96);
  position: absolute;
  max-width: calc(100% - .5em);
  z-index: 1;
}

.tab.locate .ol-collapsed ul.autocomplete {
  display: none;
}

.tab.locate .locate-me {
  margin: 1em 0 1em 0;
}

.tab.locate .locate-me button {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 .25em;
  min-width: unset;
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0;
}

/* Display add Point */
.tab.locate .add-point {
  display: none;
  text-align: center;
}
.tab.locate .add-point p {
  margin: 1em 0 .5em;
}

.tab.locate .add-point[data-visible] {
  display: block;
}

/* Search coord */
.tab.locate .search-coord {
  border: 1px solid #dde1e6;
  padding: 1em;
  margin: 0 -1em;
}

.tab.locate .search-coord .ol-collapsed ul.autocomplete {
  display: block!important;
  position: relative;
  text-align: center;
  margin: .5em 0 0;
  border: 0;
}
.tab.locate .search-coord .ol-collapsed ul.autocomplete li {
  padding: .5em 1em;
  color: #fff;
  font-size: 1.1em;
  background-color: #3993f3;
}
.tab.locate .search-coord .ol-collapsed ul.autocomplete li:hover {
  background-color: #307ccd;
}

.tab.locate .ol-searchgps:after {
  display: none;
}

.tab.locate .ol-searchgps > div label {
  width: 5em;
  display: inline-block;
}
.tab.locate input[type="number"] {
  font-style: normal;
  font-size: 1.1em;
  padding: 1.1em 0 1.1em 0.5em;
  width: calc(100% - 5.5em);
}
.tab.locate input.ol-dms {
  width: 4em;
}
.tab.locate .ol-searchgps .ol-geoloc {
  display: none;
}
